*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8d9d90;
}
.calculator {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    padding: 20px;
    background-color: #9db4ab;
    box-shadow: 0 4px 10px #151515;
}
#display {
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #bbdb9b;
    font-size: 1.5em;
    border-radius: 5px;
    overflow: auto;
    text-align: right;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
button {
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    color: #383b32;
    background-color: #b4d295;
    transition: background-color 0.5s;
}
button:hover {
    background-color: #a0af7b;
    font-weight: bold;
}
button:active {
    background-color: #A6DB9C;
}
@media (max-width: 400px) {
    button{
        font-size: 1em;
        height: 35px;
    }
}
